body{
    text-align:center;
}
.btnbox{
height:200px;
width:200px;
border-radius:20%;
border: 8px solid black;
margin:1.25rem;
}
.boxbtn1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxbtn2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.red{
    background-color: rgb(200,32,33);
}
.yellow{
    background-color: rgb(200,222,33);
}
.green{
    background-color: rgb(20,232,33);
}
.blue{
    background-color: rgb(20,32,233);
}
.flash{
    background-color: white;
}
.userflash{
    background-color: black;
}
@media(max-width:400px){
    .btnbox{
        height:120px;
        width:120px;
    }
}


